@model LadiesAndGentlemenWebSite.Models.Client

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" type="password" value="" id="myInput" /><input type="checkbox" onclick="myFunction()">Show Password
                <script>
                    function myFunction() {
                        var x = document.getElementById("myInput");
                        if (x.type === "password") {
                            x.type = "text";
                        } else {
                            x.type = "password";
                        }
                    }
                </script>

                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>

            @if (ViewData["Error"] != null)
            {
                <div style="color:red; font-weight:bold">@ViewData["Error"]</div>
            }
        </form>
    </div>
</div>

<div>
    <p> &nbsp &nbsp</p>
    <a asp-controller="Clients" asp-action="Create">Not our customer yet? Sign in!</a>
</div>
<script type="text/javascript">
    alert("Are you a friend of ours? If not now it's the time");
</script>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


