.thank{
    text-align:center !important;
    font-size:50px;
    margin:auto;
    font-family:'Agency FB';
       
}




.form-group {
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.bi {
    color: white;
}




.table {
    margin-left: 50px !important;
    margin-right: 50px !important;
    width: 50%;
}

h1 {
    margin-left: 50px !important;
    /* margin-right: 500px !important; */
}

h5 {
    margin-left: 50px !important;
}

p {
    margin-left: 50px;
}

.btn {
    margin-left: 50px;
}

.date {
    margin-left: 50px !important;
}

.customer-dob {
    margin-left: 350px !important;
}
