/*.col-lg-3 {
    margin-top: 2px;
    margin-bottom: 2px;
}*/
/*
.card {
    margin-bottom: 40px;
}


.page-footer {
    bottom: 0px !important;
    color: white;
    background-color: rgb(32, 32, 32) !important;
    margin-bottom: 0px !important;
}



.logofooter {
    position: absolute;
    top: 45px;
    right: 590px;
    width: 30%;
    direction: rtl;
}

.grey-text {
    color: white !important;
}



.mapfooter {
    position: absolute;
    top: 30px;
    right: 1px;
    width: 40%;
    direction: rtl;
}

.container {
    margin-bottom: 0px !important;
}



div {
    display: block;
}*/
/*.bi {
    color: white;
}




nav-link {
    color: white;
    
}





.row {
    margin-left: 50px;
}

.card {*/
  /*  margin-bottom: 10px;*/
/*}








.grey-text {
    color: white !important;
}

.imagesize{
    height:20px;
}



.container {
    margin-bottom: 0px !important;
}



div {
    display: block;
}*/
.card{
    margin-top:60;
    margin-bottom:40;
}
